<div id="wrap" class="ui-widget-content">

  <svg id="svg" viewBox="0 0 100 100" preserveAspectRatio="none"></svg>

  X:{{mousePosition.x}} Y: {{mousePosition.y}}

  <div class="box" [id]="node.id" [style.top]="node.top + 'px'" [style.left]="node.left + 'px'"
     *ngFor="let node of nodeList" cdkDrag>

    <div class="example-handle" cdkDragHandle style="font-size: 0.5em;" (mousedown)="moveNodeDrag($event)">
      <i class="fas fa-arrows-alt fa-3x"></i>
    </div>

    <div id="dot-right-{{node.id}}" class="dot right" style="top:40px" (click)="createPath($event, node, 'init')"></div>
    <div id="dot-left-{{node.id}}" class="dot left" style="top:20px; left:-10px" (click)="createPath($event, node, 'end')"></div>
  </div>

</div>
