<div id="wrap">

  <svg id="svg" viewBox="0 0 100 100" preserveAspectRatio="none"></svg>

  <div class="box" id="a" style="top: 10%; left: 10%;">
    <div class="dot" style="top:20px" ></div>
    <div class="dot" style="top:40px" ></div>
  </div>

  <div class="box" id="b" style="top: 60%; left: 10%;">
    <div class="dot" style="top:20px" ></div>
    <div class="dot" style="top:40px" ></div>
  </div>

  <div class="box"  id="c" style="top: 30%; left: 65%; ">
    <div class="dot" style="top:20px; left:-10px" ></div>
    <div class="dot" style="top:40px; left:-10px" ></div>
  </div>

</div>
