/* You can add global styles to this file, and also import other style files */
.line {
  fill: none !important;
  stroke: black !important;
  stroke-width: 1px !important;
  stroke: #555 !important;
  vector-effect: non-scaling-stroke;
  cursor: pointer;
}
